{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <p>Date du jour : {{ 'now'|date('d/m/Y') }}</p>


    {{ form_start(formulaire, {'attr': {'id': 'recherche_form'}}) }}
        <div class="champsDeRecherche">
            <div class="rechercheInput">
                {{ form_row(formulaire.campus) }}
                {{ form_row(formulaire.recherche) }}
                {{ form_row((formulaire.dateDebut)) }}
                {{ form_row(formulaire.dateFin) }}
            </div>
            <div class="rechercheCheckbox">
                {{ form_row(formulaire.sortiesOrganisees) }}
                {{ form_row(formulaire.sortiesInscrit) }}
                {{ form_row(formulaire.sortiesNonInscrit) }}
                {{ form_row(formulaire.sortiesPasses) }}
            </div>
        </div>
    {{ form_row(formulaire.submit) }}

    {{ form_end(formulaire) }}

    <div class="gridCards">
        <ul>
            {% for sortie in toutesLesSorties %}
                <li>
                    <div class="sortieCard_Wrapper">
                        <div class="card_etat">
                            {{ sortie.etat.libelle }}
                        </div>
                        <div class="card_inscrit">

                        </div>
                        <div class="sortieCard">
                            <div class="card_infos">
                                <div class="card_title">
                                    <h3>{{ sortie.nom }}</h3>
                                </div>
                                <div class="card_dateDebut">
                                    Le {{ sortie.dateHeureDebut|date('d/m/Y') }}
                                </div>
                                <div>
                                    Durée de l'évènement : {{ sortie.duree }} minutes
                                </div>
                                <div class="card_inscription">
                                    Nombre d'inscrits : {{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}
                                </div>
                                <div class="card_organisateur">
                                    Organisé par {{ sortie.organisateur.pseudo }}
                                </div>
                            </div>
                            <div class="sortieCardBack">
                                <div class="card_infos_back">
                                    <div class="buttons">
                                        <a href="">+ d'infos</a>
                                        <a href="{{ path('addParticipant', {"id":sortie.id}) }}">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>

{% endblock %}