{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <p>Date du jour : {{ 'now'|date('d/m/Y') }}</p>


    {{ form_start(sortiesForm, {'attr': {'id': 'recherche_form'}}) }}
        <div class="champsDeRecherche">
            <div class="rechercheInput">
                {{ form_row(sortiesForm.campus) }}
                {{ form_row(sortiesForm.recherche) }}
                {{ form_row((sortiesForm.dateDebut)) }}
                {{ form_row(sortiesForm.dateFin) }}
            </div>
            <div class="rechercheCheckbox">
                {{ form_widget(sortiesForm.sortiesOrganisees) }}
                {{ form_label(sortiesForm.sortiesOrganisees) }}
                {{ form_row(sortiesForm.sortiesInscrit) }}
                {{ form_row(sortiesForm.sortiesNonInscrit) }}
                {{ form_row(sortiesForm.sortiesPassees) }}
            </div>
        </div>
    {{ form_row(sortiesForm.submit) }}

    {{ form_end(sortiesForm) }}

    <div class="gridCards">
        <ul>
            {% for sortie in toutesLesSorties %}
                <li>
                    <div class="sortieCard_Wrapper">
                        <div class="card_etat">
                            {{ sortie.etat.libelle }}
                        </div>
                        <div class="card_inscrit">

                        </div>
                        <div class="sortieCard">
                            <div class="card_infos">
                                <div class="card_title">
                                    <h3>{{ sortie.nom }}</h3>
                                </div>
                                <div class="card_dateDebut">
                                    Le {{ sortie.dateHeureDebut|date('d/m/Y') }}
                                </div>
                                <div class="card_inscription">
                                    {{ sortie.nbInscriptionsMax }}
                                </div>
                                <div class="card_organisateur">
                                    Organisé par {{ sortie.organisateur.pseudo }}
                                </div>
                            </div>
                            <div class="sortieCardBack">
                                <div class="card_infos_back">
                                    <div class="buttons">
                                        <a href="">+ d'infos</a>
                                        <a href="{{ path('addParticipant/' ~ sortie.id) }}">S'inscrire</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                {#
                <li>
                    {{ 'Nom : '~ sortie.nom~ ',  date de début :' ~sortie.dateHeureDebut|date('d/m/Y')~',  durée de la sortie : '~sortie.duree~ ' minutes, orga : '~sortie.organisateur.nom~', état : '~sortie.etat.libelle }}
                </li>
                #}
            {% endfor %}
        </ul>
    </div>

{% endblock %}