{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <p>Date du jour : {{ 'now'|date('d/m/Y') }}</p>
    <p>{{ personne.prenom~' '~personne.nom }}</p>

    {{ form_start(formulaire }}

    {{ form_widget(formulaire) }}

    {{ form_end(formulaire) }}


    <p>Liste des sorties : </p>
    <ul>
        {% for sortie in toutesLesSorties %}
            <li>
                {{ 'Nom : '~ sortie.nom~ ',  date de début :' ~sortie.dateHeureDebut|date('d/m/Y')~',  durée de la sortie : '~sortie.duree~ ' minutes, orga : '~sortie.organisateur.nom~', état : '~sortie.etat.libelle }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}