{% extends 'base.html.twig' %}

{% block title %}
    Annulation d'une sortie
{% endblock %}

{% block body %}
    <h1>Annulation sortie</h1>

    <div class="form_addSortie">
        {{ form_start(annulerForm) }}
            {{ form_row(annulerForm.raison) }}
            <div class="buttons-group">
                {{ form_row(annulerForm.Valider) }}
                <div>
                    <a href="{{ path('homepage') }}" class="annulationButton">Annuler</a>
                </div>
            </div>
        {{ form_end(annulerForm) }}

    </div>

{% endblock %}