{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'une lieu
{% endblock %}

{% block body %}
<h1>Ajout d'un lieu</h1>

    <div class="form_addSortie">

        {{ form_start(lieuForm) }}

            {{ form_row(lieuForm.nom) }}

            {{ form_row(lieuForm.rue) }}

            {{ form_row(lieuForm.latitude) }}

            {{ form_row(lieuForm.longitude) }}

            {{ form_row(lieuForm.ville) }}

        <div class="buttons-group">
            <a href="{{ path('homepage') }}"><button>Ajouter</button></a>
        </div>

        {{ form_end(lieuForm) }}
    </div>

{% endblock %}