{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'une ville
{% endblock %}

{% block body %}
    <h1>Ajout d'une ville</h1>

    {{ form_start(rechecherVilleForm) }}

    {{ form_end(rechecherVilleForm) }}

    <div class="listeVilles">
        <ul>
            {% for ville in villesParRecherche %}
                <li>{{ ville.nom }} - {{ ville.codePostal }} <a href="#">Modifier</a> - <a href="#">Supprimer</a></li>
            {% endfor %}
        </ul>
    </div>


    {{ form_start(villeForm) }}
        {{ form_widget(villeForm) }}
    {{ form_end(villeForm) }}
    <a href="{{ path('homepage') }}"><button>Annuler</button></a>



{% endblock %}

