{% extends 'base.html.twig' %}

{% block title %}
Ajout d'une sortie
{% endblock %}

{% block body %}
<h1>Ajout d'une sortie</h1>

    {{ form_start(sortieForm) }}

        <div>
            {{ form_row(sortieForm.nom) }}
        </div>
    <div>
        {{ form_row(sortieForm.infosSortie) }}
    </div>
    <div>
        {{ form_row(sortieForm.nbInscriptionsMax) }}
    </div>
    <div>
        {{ form_row(sortieForm.dateHeureDebut) }}
    </div>
    <div>
        {{ form_row(sortieForm.dateLimiteInscription) }}
    </div>
    <div>
        {{ form_row(sortieForm.duree) }}
    </div>
    <div>
        {{ form_row(sortieForm.ville) }}
    </div>
    <div class="dispoLieuForm">
        {{ form_row(sortieForm.lieu) }} <div id="addPlace"></div>
    </div>
    <div>
        {{ form_row(sortieForm.campus) }}
    </div>

    {{ form_end(sortieForm) }}
    <a href="{{ path('homepage') }}"><button>Annuler</button></a>

{% endblock %}