{% extends 'base.html.twig' %}

{% block title %}Hello ListSortieController!{% endblock %}

{% block body %}
    <h1>{{ sortie.nom }}</h1>

    <p>Date et heure de sortie : {{ sortie.dateHeureDebut|date("d/m/Y") }}</p>
    <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date("d/m/Y") }}</p>
    <p>Durée : {{ sortie.duree }}</p>
    <p>Nombre de places : {{ sortie.nbInscriptionsMax }}</p>
    <p>Description : {{ sortie.infosSortie }}</p>
    <p>Campus : {{ sortie.lieu.nom }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    <p>Longitude : {{ sortie.lieu.longitude }}</p>
    <p>Latitude : {{ sortie.lieu.latitude }}</p>


    <div class="participants_list">
        <h3>Liste des participants</h3>
        {% for participant in sortie.participants %}
            <div class="particpant">
                <a href="{{ path('show_profile', {"id":sortie.id})  }}">{{ participant.pseudo}} - {{ participant.prenom}} - {{ participant.nom}}</a>
            </div>

        {% endfor %}

    </div>


{% endblock %}
