{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'une sortie
{% endblock %}

{% block body %}
    <h1>Modification d'une sortie</h1>

    <div class="form_addSortie">

        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}

        {{ form_row(sortieForm.infosSortie) }}

        {{ form_row(sortieForm.nbInscriptionsMax) }}

        {{ form_row(sortieForm.dateHeureDebut) }}

        {{ form_row(sortieForm.dateLimiteInscription) }}

        {{ form_row(sortieForm.duree) }}

        {{ form_row(sortieForm.ville) }}

        {{ form_row(sortieForm.lieu) }}
        <div class="addSortie">
            <a href="{{ path('lieu_creation') }}" id="ajoutSortie">Ajouter un lieu</a>
        </div>

        {{ form_row(sortieForm.campus) }}

        <div class="buttons-group">
            {{ form_row((sortieForm.enregistrer)) }}
            {{ form_row((sortieForm.publier)) }}
            <div>
                <a href="{{ path('homepage') }}" class="annulationButton">Annuler</a>
            </div>
        </div>

        {{ form_end(sortieForm) }}

    </div>

{% endblock %}