<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="icon" href="{{ asset('images/logo_ENI_pt.svg') }}">
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <header>
                <div class="banner">
                    {% if app.user %}
                        <a href="{{ path("homepage") }}" id="logo">SORTIR </a>
                    {% else %}
                        <a href="{{ path("app_login") }}" id="logo">SORTIR </a>
                    {% endif %}
                    {% if app.user %}
                        <div id="avatar_wrapper">
                            <a href="{{ path('app_logout') }}">
                                <div id="avatar">
                                    {% if app.user.image %}
                                        <img src="{{ app.user.image }}" alt="avatar">
                                    {% else %}
                                        <img src="{{ asset('images/avatars/avataaars(6).png') }}" alt="avatar">
                                    {% endif %}

                                        <div class="avatar_pseudo">{{ app.user.pseudo }}</div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                    <div class="date">{{ 'now'|date('d/m/Y') }}</div>
                </div>
                <!--<img src="{{ asset('images/sortir.svg') }}" alt="Sortir" height="150 px">-->
                {% block nav %}
                    {% include 'inc/_nav.html.twig' %}
                {% endblock %}
            </header>
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>

            </footer>
        </div>

    </body>
</html>
