{% extends 'base.html.twig' %}

{% block body %}
    <h2>Profil de {{ user.prenom }} {{ user.nom }}</h2>
    <div>Campus : {{ user.campus.nom }}</div>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    {{ form_row(user.photo) }}
    {{ form_end(userForm) }}

    <div id="profile_pic">
        {% if user.photo %}
            <img src="{{ asset('images/logo-eni.jpg')}}" alt="{{ user.prenom }} {{ user.nom }}">
        {% else %}
            <img src="{{ asset('images/logo-eni.jpg/') }}" alt="Photo par défaut">
        {% endif %}
    </div>

    {% if app.user == user %}
        <a href="{{ path('app_user_profile') }}">Modifier mon profil</a><br>
        <a href="{{ path('app_user_profile') }}">Modifier mon image</a><br>
        <a href="{{ path('app_user_profile') }}">Modifier mon mot de passe</a>
    {% endif %}
{% endblock %}

{% block title %}Profil de {{ user.prenom }} {{ user.nom }}{% endblock %}